body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title-name {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10%;
}

.title-name h1 {
    font-size: 45px;
    display: flex;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px; 
    margin-top: 10%;
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    height: 100px;
    background-color: lightblue;
    border: 2px solid #333; 
    text-decoration: none;
    color: #333;
}

.rectangle:hover {
    background-color: lightgreen; 
}

.rectangle span {
    font-size: 20px; 
}